<div class="d-flex justify-content-center py-3">
    {{#listaVacia}}
        <h2>{{listaVacia}}</h2>
    {{/listaVacia}}
    {{^listaVacia}}

        <table class="table">
            <thead>
            <tr>
                {{#keys}}
                    <th>{{.}}</th>
                {{/keys}}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#noticias}}
                <tr>
                    <td>{{idnoticia}}</td>
                    <td>{{titulo}}</td>
                    <td>{{nombre}}</td>
                    {{#estado}}
                        <td>{{estado}}</td>
                    {{/estado}}
                    {{^estado}}
                        <td>{{apellido}}</td>
                    {{/estado}}
                    <td>
                    {{#editorial}}
                        <a href ="/noticia/PrevisualizarNoticia?idnoticia={{idnoticia}}&editorial={{editorial}}&publicacion={{publicacion}}"
                        class="btn-sm btn-danger">
                    {{/editorial}}
                    {{^editorial}}
                        <a href ="/noticia/PrevisualizarNoticia?idnoticia={{idnoticia}}" class="btn-sm btn-danger">
                    {{/editorial}}
                            <i class="fa fa-times-circle" style="color:white;font-size:1em">Previsualizar</i></a>
                    </td>
                </tr>
            {{/noticias}}
            </tbody>
        </table>
    {{/listaVacia}}
</div>