<div class="container">
    {{#noticiaNotFound}}
        <h2>{{noticiaNotFound}}</h2>
    {{/noticiaNotFound}}
    {{^noticiaNotFound}}
        <div>
            <h1>{{noticia.titulo}}</h1>
        </div>
        <div>
            <img src="/resources/{{noticia.imagenURL}}" width="500" alt="{{noticia.imagenURL}}">
        </div>
        <div>
            <p>{{noticia.cuerpo}}</p>
        </div>
    {{#contenidista}}
        {{#editorial}}
            <div>
                <a href="enviarAEdicion?idnoticia={{noticia.idnoticia}}" class="btn btn-danger">Enviar a Edicion</a>
                <a href="/publicacion/agregarNoticia?idnoticia={{noticia.idnoticia}}&publicacion={{publicacion}}"
                class="btn btn-success">Agregar Noticia</a>
            </div>
        {{/editorial}}
        {{^editorial}}
            {{#publicacion}}
                <div>
                    <a href="/publicacion/quitarNoticia?idnoticia={{noticia.idnoticia}}&publicacion={{publicacion}}"
                    class="btn btn-danger">Quitar Noticia</a></button>
                </div>
            {{/publicacion}}
            {{^publicacion}}
                <div>
                    <a href="CrearNoticia?idnoticia={{noticia.idnoticia}}" class="btn btn-info">Editar</a></button>
                    <a href="EnviarAProduccion?idnoticia={{noticia.idnoticia}}" class="btn btn-danger">Enviar a Produccion</a></button>
                </div>
            {{/publicacion}}
        {{/editorial}}
    {{/contenidista}}


    {{/noticiaNotFound}}
</div>