<style>
    #actions{
        position: fixed;
        top: 25%;
        left: 2em;
    }
</style>

<div class="container-fluid">


    <h2 class="m-3 text-center">Vista Previa de la publicacion </h2>

    <div class="d-flex">

        <div id="publicacion" class="col-7  offset-2">
            <h5>Lista de noticias</h5>
            <ul>
            {{#publicacion.secciones}}
                <li>
                    <h5>Seccion: {{seccion}}</h5>
                    {{#noticias}}
                        <div id="{{id}}">
                            <p>Titulo: {{titulo}}
                            <span class="float-right">
                                <a href ="/noticia/PrevisualizarNoticia?idnoticia={{id}}&publicacion={{publicacion.idpublicacion}}"
                                    class="btn-sm btn-danger ">
                                    <i class="fa fa-times-circle" style="color:white;font-size:1em">Previsualizar</i>
                                </a>
                            </span>
                            </p>
                        </div>
                    {{/noticias}}
                </li>
            {{/publicacion.secciones}}
            </ul>
            {{^publicacion.secciones}}
                No hay noticias cargadas
            {{/publicacion.secciones}}
        </div>
        <div id="datos" class="col-3">
            <div class="card">
               <div class="card-header">
                   <h3 class="text-center">Datos Tecnicos</h3>
               </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Titulo:</td>
                            <td>{{publicacion.nombre}}</td>
                        </tr>
                        <tr>
                            <td>Editorial:</td>
                            <td>{{publicacion.razonsocial}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">Portada</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                {{#publicacion.portada}}
                                    <img src="/resources/{{publicacion.portada}}" width="250px" alt="portada de {{publicacion.nombre}}">
                                {{/publicacion.portada}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>

    </div>


    <div id="actions" class="btn-group-vertical" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" disabled>
            Acciones
        </button>
        {{#administrador}}
            <button type="button" class="btn btn-danger">
                <a href ="/admin/rechazarPublicacion?idpublicacion={{publicacion.idpublicacion}}" class="btn-sm btn-danger">
                <i class="fa fa-times-circle" style="color:white;font-size:1em"> Rechazar</i></a>
            </button>
            <button type="button" class="btn btn-success">
                <a href ="/admin/aceptarPublicacion?idpublicacion={{publicacion.idpublicacion}}" class="btn-sm btn-success">
                <i class="fa fa-check-circle" style="color:white;font-size:1em"> Aceptar</i></a>
            </button>
        {{/administrador}}
        {{^administrador}}
            <button type="button" class="btn btn-info">
                <a class="btn btn-info" href="CrearPublicacion?idpublicacion={{publicacion.idpublicacion}}">Editar portada/titulo</a>
            </button>
            <button type="button" class="btn btn-success">
                <a class="btn btn-success"
                   href="verNoticias?ideditorial={{publicacion.editorial}}&publicacion={{publicacion.idpublicacion}}">
                Agregar una noticia</a>
            </button>
            <button type="button" class="btn btn-danger">
                <a class="btn btn-danger"
                   href="enviarAProduccion?idpublicacion={{publicacion.idpublicacion}}">Enviar a Produccion</a>
            </button>
        {{/administrador}}

    </div>

</div>