<div class="container-fluid">
    <h1>Vista Previa de Publicacion: {{nombre}}</h1>

    {{#portada}}
        <h3>{{portada}}</h3>
    {{/portada}}
    {{#keys}}
        <h5>{{.}}</h5>
        {{#secciones }}
            <h2>notica</h2>
        {{/secciones}}
    {{/keys}}

</div>