<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a href="#" class="dropdown-items">Ver Secciones</a>
    <a href="#" class="dropdown-items">Mis Compras</a>
    <a href="#" class="dropdown-items">Contenido Gratuito</a>
    <div class="dropdown-divider"></div>
    <a href="/noticia/crearNoticia" class="dropdown-item">Crear Noticia</a>
    <a href="/noticia/noticiasEdicion" class="dropdown-item">Noticias en Edicion</a>
    <a href="/publicacion/crearPublicacion" class="dropdown-item">Crear Publicacion</a>
</div>
