
<div id="menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a href="/admin/usuariosPendientes" class="dropdown-item">Lista Pendiente Usuarios</a>
    <a class="dropdown-item" href="/admin/publicacionesPendientes">lista de publicaciones pendientes</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Reportes</a>
</div>


