<ul>
    MENU DE ADMIN
    {{#session.usuario}}
        <li>

                        <i class="fa fa-user" aria-hidden="true"></i>
                        {{session.usuario.apellido}}, {{session.usuario.nombre}}</span>

        </li>
        <li class="nav-item"><a class="nav-link" href="../../index.php">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="../../index.php">Cerrar sesión</a></li>
    {{/session.usuario}}
    {{^session.usuario}}
        <li class="nav-item"><a class="nav-link" href="../../index.php">Iniciar sesión</a></li>
        <li class="nav-item"><a class="nav-link" href="../../index.php">Registro</a></li>
    {{/session.usuario}}
</ul>