<ul>
    MENU DE Contenidista
    <ul>
        <li>Ver Secciones</li>
        <li>Mis Compras [suscripcion/individual]</li>
        <li>Contenido gratuito</li>
        <li>-------------------------------</li>
        <li>Gestion
            <ul>
                <li><a href="/noticia/crearNoticia">Crear Noticia</a></li>
                <li>En espera</li>
                <li><a href="/publicacion/crearPublicacion">Crear Publicacion</a></li>
            </ul>
        </li>
    </ul>

</ul>