
<div id="menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <h6 class="dropdown-header">Soy {{session.usuario.rol}}</h6>
    <a href="#" class="dropdown-item">Ver Publicaciones</a>
    <a href="suscripcion/SuscripcionesUsuario" class="dropdown-item">Mis Compras</a>
    <div class="dropdown-divider"></div>
    <a href="/contenidista/verificar" class="dropdown-item">Soy Contenidista</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/logout">Cerrar sesión</a>
</div>