<div class="col-2">
    <div class="card">
        <div class="card-header">{{nombre}}</div>
        <img src="/resources/{{portada}}" alt="portada de {{nombre}}"
             class="card-img-top" style="height: 20em">
        <div class="card-footer">
            <i>{{editorial}}</i>
            <span class="float-right">
                <a href ="ver?idpublicacion={{idpublicacion}}" class="btn-sm btn-danger">
                <i class="fa fa-times-circle" style="color:white;font-size:1em">Ver publicacion</i></a>
            </span>
        </div>
    </div>
</div>