<div class="d-flex justify-content-center py-3">
    {{#listaVacia}}
        <h2>{{listaVacia}}</h2>
    {{/listaVacia}}
    {{^listaVacia}}

        <table class="table">
            <thead>
            <tr>
                {{#keys}}
                    <th>{{.}}</th>
                {{/keys}}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#publicaciones}}
                <tr>
                    <td>{{idpublicacion}}</td>
                    <td>{{nombre}}</td>
                    <td>{{numero}}</td>
                    <td>$ {{valor}}</td>
                    <td>{{editorial}}</td>
                    <td>{{estado}}</td>
                    <td>
                        <a href ="/publicacion/PrevisualizarPublicacion?idpublicacion={{idpublicacion}}" class="btn-sm btn-info">
                        <i class="fa fa-times-circle" style="color:white;font-size:1em">Previsualizar</i></a>
                    </td>
                </tr>
            {{/publicaciones}}
            </tbody>
        </table>
    {{/listaVacia}}
</div>