<h1>Suscripciones</h1>
<table class="table">
    <thead>
    <tr>
        <th>Editorial</th>
        <th>Finaliza</th>
    </tr>
    </thead>
    <tbody>
    {{#suscripciones}}
        <tr>
            <td>{{razonsocial}}</td>
            <td>{{fechaFin}}</td>
        </tr>
        {{/suscripciones}}
</tbody>
</table>