<div class="d-flex justify-content-center py-3">
    {{#listaVacia}}
        <h2>{{listaVacia}}</h2>
        {{/listaVacia}}
    {{^listaVacia}}

    <table class="table">
        <thead>
        <tr>
        {{#keys}}
            <th>{{.}}</th>
            {{/keys}}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#usuarios}}
                <tr>
                    <td>{{idUsuario}}</td>
                    <td>{{nombre}}</td>
                    <td>{{dni}}</td>
                    <td>{{mail}}</td>
                    <td>{{rol}}</td>
                    <td><a href ="rechazarVerificacion?idUsuario={{idUsuario}}">
                        <i class="fas fa-times-circle"></i></a>
                        <a href ="aceptarVerificacion?idUsuario={{idUsuario}}">
                        <i class="fas fa-times-circle"></i></a>
                    </td>
                </tr>
            {{/usuarios}}
        </tbody>
    </table>
    {{/listaVacia}}
</div>